@import '../../common/style/globalstyle';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  @include border();
  font-family: '微軟正黑體';
}

.main-view {
  @include size(100%, auto);
  position: relative;
}
