@import '../../common/style/globalstyle';
@import '../../common/style/font';

#main-view {
  @include size(100px, 80vh);
  @include independent(transparent);
  @include flex-layout(column, space-between, center);
  position: fixed;
  top: 50%;
  left: 55px;
  transform: translateY(-50%);
  font-family: $f-side-bar;
}

.logo {
  @include size(50px, 50px);
  margin: 0px auto;
}

.category-group {
  @include flex-layout(column, space-between center);
  @include size(auto, 250px);
}

.social-group {
  .social-icon {
    font-size: 30px;
    color: rgb(104, 104, 104);
    transition: all 0.15s linear;

    &:hover {
      color: rgb(15, 15, 15);
    }
  }

  > :nth-child(n) {
    @include size(35px, 35px);
    @include flex-layout(row, center, center);
    margin-bottom: 20px;
  }
}
