@import '../../common/style/globalstyle';

.main-view {
  width: 100%;
  height: 200vh;
  position: relative;

  .slogan {
    @include size(50%, 50vh);
    transform: translate(50%, 50%);

    #name {
      font-size: 2rem;
      display: inline-block;
      margin: 0px auto;
    }

    #position-block {
      @include flex-layout(row, center, center);

      p {
        display: inline-block;
        margin: 0px 0px;
        font-size: 7.5rem;
      }

      > div {
        @include dash-line(2px);
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
}

.mouse-tip {
  @include size(50px, 50px);
  position: fixed;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);

  svg {
    .cls-1 {
      fill: #fff;
    }

    #mouse-wheel {
      fill: none;
      stroke: #000;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }
}
