<div class="main-view">
  <div class="mouse-tip">
    <svg viewBox="-12.5 -5 50 50">
      <g id="圖層_2" data-name="圖層 2">
        <g id="mouse-tip">
          <rect class="cls-1" x="0.5" y="0.5" width="24" height="38" rx="11.5" />
          <path
            d="M13,1A11,11,0,0,1,24,12V27A11,11,0,0,1,13,38H12A11,11,0,0,1,1,27V12A11,11,0,0,1,12,1h1m0-1H12A12,12,0,0,0,0,12V27A12,12,0,0,0,12,39h1A12,12,0,0,0,25,27V12A12,12,0,0,0,13,0Z" />
          <line id="mouse-wheel" x1="12.5" y1="5" x2="12.5" y2="13" />
        </g>
      </g>
    </svg>
  </div>
</div>
